header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color:black;
    padding: 10px;
}

li:hover {
    background-color: blueviolet;
    color: antiquewhite;
    border: 1px;
    border-width: 2px;
    border-radius: 10%;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color:black
}

#quizFeedback {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: grey;
    border-top: 2px;
    border-color: grey;
}